name: 镜像到Gitee
on:
  push:
    branches:
      - main
      
jobs:
  mirror-to-gitee:
    name: 同步到 Gitee
    runs-on: ubuntu-latest
    steps:
      - name: Mirror repo to Gitee.
        uses: Yikun/hub-mirror-action@master
        with:
          src: github/CMSZ002
          dst: gitee/CMSZ001
          dst_key: ${{ secrets.GITEE_PRIVATE_KEY }}
          dst_token: ${{ secrets.GITEE_TOKEN }}
          account_type: user
          cache_path: /github/workspace/cache
          force_update: true
          static_list: "hw"
        
      - name: Delete workflow runs
        uses: Mattraks/delete-workflow-runs@v2
        with:
          token: ${{ github.token }}
          repository: ${{ github.repository }}
          retain_days: 3
          keep_minimum_runs: 1